
//colors 

@text-main: #8DA3C2;
@accent:    #189BC0;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #fff;
  color: #555;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
  font-weight: 100;
  margin-top: 10px;
  margin-bottom: 15px;
}

h5 {
  margin: 15px 0;
  letter-spacing: 3px;
  text-transform: uppercase;
}

p {
  font-weight: 300;
  color: @text-main;
}

section:before { 
  display: block; 
  content: " "; 
  margin-top: -300px; 
  height: 300px; 
  visibility: hidden; 
}

section {
  display: none;
}

section p {
  margin-bottom: 25px;
  display: inline-block;  
 
}

#nav-toggle {
  cursor: pointer;
  position: relative;
  float: right;
  font-size: 2.5em;
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 2px;
  outline-style: none;
  margin-right: 5px;
  padding: 0 10px;
}

button {
    margin-top: 5px;
    padding: 8px 17px;
    float: right;
    text-transform: uppercase;
    color: @text-main;
    background-color: transparent;
    border: 2px solid;
    border-color: transparent;
    outline-style: none;
    cursor: pointer;
    letter-spacing: 3px;
    font-weight: bold;
    border-radius: 2px;
}

button#confirm-ok {
  background-color: @accent;
  color: #fff;
  margin-left: 15px;
  &:hover {
    background-color: #fff;
    color: @accent;
  }
  &.ok {
    background-color: transparent;
    color: @text-main;
    border-color: @text-main;
  }

}

button#confirm-cancel:hover {
  border-color: @accent;
  color: @accent;

}


.clearfix {
  clear: both;
}

.container {
  height: 100vh;
  min-height: 526px;
  background-image: url(img/bg3.jpg);
  background-size: cover;
  background-position: center;
  overflow: auto;

  & > div {
    float: left;
  }
}

.main {
  background-color: rgba(0,0,0,0.4);;
  color: #fff;
  height: 100%;
  width: 73%;
  padding: 20px 5px 20px 40px;

  .confirmation {
    float: right;

    button {
      padding: 10px 20px;
    }
  }
}

.divider {
  border: 1px solid #25363D;
  border-radius: 1px;
  margin-bottom: 20px;
  opacity: 0.3;
}

.navigation {
  position: relative;
  border-right: solid 1px #1F323A;
  box-shadow: inset 0px 0px 1px #1D272B;
  padding: 10px;
  background-color: rgba(0,0,0,0.5);
  width: 27%;
  height: 100%;
  color: #fff;
  text-align: center;

  h1 {
    margin-bottom: 35px;
  }

  .userpic {
    width: 125px;
    height: 125px;
    border-radius: 50%;
    border: solid 8px #21333c;
    margin-top: 28px;
  }

  #nav-toggle {
    display: none;
  }
  .nav {
    text-align: left;
    li {
      color: @text-main;
      list-style: none;
      border-radius: 2px;
      &.active {
        background-color:  rgba(0, 0, 0, 0.3);
        color: #fff;
      }
      i {
        margin-right: 10px;
      }
      a {
        color: inherit;
        text-decoration: none;
      }
      padding: 15px 25px;
    }
  }
}


@media only screen and (max-width: 768px) {

  .navigation {
    height: 72px;
    width: 100%;
    border-right: none;
    border-bottom: solid 1px #1F323A;
    h1 {
      display: inline-block;
      float: left;
      margin: 5px 20px;
    }
    .userpic {
      margin: 0;
      width: 50px;
      height: 50px;
      border-width: 4px;
      display: inline-block;
      float: left;
    }
    #nav-toggle {
      display: inline-block;
    }
    .nav {
      display: none;
    }
    &.expand {
      height: auto;
      .nav {
        display: block;
        margin-top: 10px;
      }
    }
  }
  .main {
    width: 100%;
  }
  
}


input[type=checkbox] {
  visibility: hidden;
}

.checkbox {
  position: relative;
  width: 30px;
  height: 30px;
  float: right;
  margin-right: 15px;

  & label {
    cursor: pointer;
    position: absolute;
    width: 30px;
    height: 30px;
    top: 0;
    left: 0;
    border-radius: 2px;

    -webkit-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(60, 85, 95, 0.51);
    -moz-box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(60, 85, 95, 0.51);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.1), 0px 1px 0px rgba(60, 85, 95, 0.51);

    background: rgb(25, 43, 53);

    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
  }

  & label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
    content: '';
    position: absolute;
    width: 14px;
    height: 7px;
    background: transparent;
    top: 6px;
    left: 6px;
    border: 4px solid @accent;
    border-top: none;
    border-right: none;

    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  &  label:hover::after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
    filter: alpha(opacity=30);
    opacity: 0.3;
  }

  & input[type=checkbox]:checked + label:after {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
  }
}

